
/* Declared here since visible everywhere */
a{
  text-decoration: none;
}

.courseCard{
  width:90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btnCustomStyle{
  display: flex;
  /* flex-direction: row-reverse; */
  /* justify-content: space-evenly; */
}

.text-right{
  text-align: end;
}

label.text-white.otpLabel{
  align-self: center;
}
input{
  background-color: rgba(161, 161, 161, 0.222);
}

.labelColor{
  width: 250px;
  height: 40px;
}


input.labelColor.otp{
  width: 50%;
  align-self: center;
}


.signin-container, .signup-container{
  background-color: #E4D8E8;
}