.qoutes__container{

    display: flex;
    justify-content: center;
    text-align: center;
    height: 45vh;
    background-repeat: no-repeat;
    background-image: url("../../Images/bg__qoutes__img.png");
    background-position: center;
    text-justify:auto;
}

.qoutes__container__words{
    position: relative;
    top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}